.month-selector {
  width: 160px;
  margin: 0 auto 20px;
  display: block;
  text-align: center;
  border: none;
  border-radius: 2px;
  font-family: "Caveat", serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: var(--dark-accent);
  font-size: 20px;
  background-color: var(--light-accent);
}

.month-selector:focus {
  outline: 1px solid var(--secondary);
}

.label {
  margin-top: 20px;
  display: block;
  width: 160px;
}

.label_mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.table-container {
  margin: 20px auto 0;
  width: 100%;
  max-width: 318px;
  overflow-x: auto;
  overflow-y: hidden;
}

.table {
  margin: 0 auto;
  border-collapse: separate;
  border-spacing: 1px;
}

.table__cell {
  min-width: 30px;
  height: 30px;
  border: 1px solid var(--secondary);
  padding: 0;
  text-align: center;
  font-weight: 500;
  background-color: var(--primary);
}

.table__cell_lg {
  min-width: 100px;
}

.table__cell_text-left {
  padding-left: 4px;
  text-align: left;
}

.table__cell_border-none {
  border: none;
}

.table__cell__fixed {
  left: 0;
  position: sticky;
  z-index: 1;
}

.table__cell_font-bold {
  font-weight: bold;
}

.table__cell_bt {
  border-top: 2px solid var(--secondary);
}

.table__button-container {
  width: 318px;
  display: flex;
  justify-content: space-between;
  position: sticky;
  left: 0;
}