.month-selector {
  width: 160px;
  margin: 0 auto;
  display: block;
  text-align: center;
  border: none;
  border-radius: 2px;
  font-family: "Caveat", serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: var(--dark-accent);
  font-size: 20px;
  background-color: var(--light-accent);
}

.month-selector:focus {
  outline: 1px solid var(--secondary);
}

.label {
  display: block;
  width: 160px;
}

.label_mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.table-container {
  margin: 20px auto 0;
  width: 100%;
  max-width: 304px;
  overflow-x: auto;
  overflow-y: hidden;
}

.table {
  width: 100%;
  margin: 0 auto;
  border-collapse: separate;
  border-spacing: 1px;
}

.table__cell {
  min-width: 28px;
  height: 28px;
  border: 1px solid var(--secondary);
  text-align: center;
  font-weight: 500;
  background-color: var(--primary);
}

.table__cell_lg {
  min-width: 100px;
}

.table__cell_border-none {
  border: none;
  border-top: 2px solid var(--primary);
}

.table__cell_sticky {
  left: 0;
  position: sticky;
}

.table__cell_font-bold {
  font-weight: bold;
}

.table__cell_bt {
  border-top: 2px solid var(--secondary);
}

.table__button-container {
  width: 318px;
  display: flex;
  justify-content: space-between;
  position: sticky;
  left: 0;
}

.text_lg {
  font-size: 24px;
}

.text_centered {
  text-align: center;
}

.text_my-20 {
  margin-top: 40px;
  margin-bottom: 40px;
}

@media screen and (min-width: 640px) {
  .table-container {
    max-width: 508px;
  }
}

@media screen and (min-width: 768px) {
  .table-container {
    max-width: 710px;
  }
}

@media screen and (min-width: 1024px) {
  .table-container {
    max-width: 1001px;
  }
}