.record-list {
  width: 90%;
  max-width: 400px;
  margin: 20px auto 40px;
}

.card-container {
  max-height: 370px;
  overflow-y: auto;
}

.record-card {
  height: 24px;
  width: 300px;
  margin: 20px auto;
  padding: 0 4px;
  border: 1px solid var(--secondary);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.record-card__label {
  position: absolute;
  top: -16px;
  left: -16px;
  padding: 0 10px;
  background-color: var(--primary);
}

@media screen and (min-width: 768px) {
  .record-list {
    margin-top: 0;
  }
}