.start-view {
  margin: 0;
  padding: 0;
  height: 100%;
  display: grid;
  align-items: center;
  justify-content: center;
}

.start-view__image {
  width: 180px;
  height: 480px;
  object-fit: cover;
  align-self: end;
}
