.start-view {
  margin: 0;
  padding: 0;
  height: 100%;
  display: grid;
  align-items: end;
  justify-content: center;
}

.quote {
  text-align: center;
  font-size: 24px;
  justify-self: center;
}

.start-view__image-container {
  max-width: 480px;
  justify-self: center;
  align-self: end;
}

.start-view__image {
  width: 100%;
  object-fit: cover;
}
