.start-view {
  height: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr;
  justify-items: center;
}

.start-view__button {
  margin-bottom: 60px;
  justify-self: start;
  align-self: end;
  width: 132px;
  height: 32px;
  border: none;
  border-radius: 2px;
  font-family: "Caveat", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 20px;
  font-weight: 400;
  color: var(--primary);
  background-color: var(--secondary);
  cursor: pointer;
  transition: background-color .5s;
}

.start-view__button:hover {
  background-color: var(--accent);
}

.start-view__button:disabled {
  background-color: #777;
}

.start-view__image {
  width: 180px;
  height: 480px;
  align-self: end;
  object-fit: cover;
}

@media screen and (min-width: 1024px) {
  .start-view {
    grid-template-columns: auto;
  }

  .start-view__button {
    grid-row: 1 / 2;
    justify-self: center;
    align-self: end;
  }
}